body {
  font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

header .logo {
    width: 100%;
    height: 50px;
}
header .navbar {
    display: flex;
    list-style: none;
        min-height: 50px;
    align-items: center;
    padding-right: 5%;
        justify-content: space-between;
    
}
header .menu{
        display: flex;
        list-style: none;
        align-items: center;
        
    }
header .navbar .navbara {
    flex-direction: column;
    color: #1e1e2f;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease;
  
}

header .navbar .navbara:hover {
    color: #ff4500;

}

.menu {
    display: flex;
    
}

.menu li {
    position: relative;
    padding: 7px 10px;
    color: rgb(209, 0, 0);
    cursor: pointer;
  

}

.menu li:hover .dropdown {
    display: flex;
    color: #ff4500;
}

.menu li .dropdown {
    white-space: nowrap;
  display: none;
  position: absolute; 
  top: 100%; 
  left: 0;
  list-style: none;
  flex-direction: column;
  background-color: #ffffff;
    z-index: 1;           /* devant la vidéo */

}
.menu li .dropdown li {
    display: inline-block;
    color: #1e1e2f;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    gap: 5px;
}
.menu li .dropdown :first-child {
    margin-top: 15px;
}

.menu li .dropdown li:hover {
    color: #ffffff;
   background-color:  #1e1e2f;
;


}

.Search-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-evenly;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform .5s;
    width: 100vw;
    z-index: 150;
}


#toggle-search:checked~.Search-container {
    transform: translateY(0);
}

.Header-booking {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    flex
}

.Header-booking,
.Header-radar {
    align-items: center;
    background-color: #f68700;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
}

#toggle-search {
    display: none;
}

.search-btn {
    width: 80px;
    height: 50px;
    cursor: pointer;
    background-image: url(../images/main/gettyimages-127861912-640x640.avif);
    background-size: cover;
}

.close-btn {
    width: 350px;
    height: 200px;
    cursor: pointer;
    background-image: url(../images/main/maxresdefault.jpg);
    background-size: cover;
    text-align: end;
    justify-content: end;
    border-radius: 15px;
}

.Search-input {
    width: 80%;
    max-width: 500px;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    border: 2px solid #b0e0e6;
    text-align: center;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #f8faff;
}


.Search-input:focus {
    border-color: #ff4500;
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.4);
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
    height: 200px;
}

.container img {
    width: 10px;
}
header #myVideo {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 10px;
clip-path: inset(3.5% 0 3.5% 0);
  position: relative;  
    overflow: hidden;
 /* conteneur parent pour gérer les calques */

margin-top: -35px;}

h1,
h2 {
    color: var(--primary-text-color);
    font-size: 4rem;
}

.surtitle {
    color: var(--secondary-text-color);
    font-family: var(--font-family-text);
}

.card-deals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-auto-rows: auto;
    gap: 20px;


}

.card-deals article {
    position: relative;
    overflow: hidden;
}

.card-deals article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card-deals article h3 {
    position: absolute;
    bottom: 0;
    color: var(--color-title-img);
}

.card-main {
    grid-column: 1;
    grid-row: 1/3;
}

.card-child1 {
    grid-column: 2;
    grid-row: 1;
}

.card-child2 {
    grid-column: 2;
    grid-row: 2;
}

.card-child3 {
    grid-column: 3;
    grid-row: 1;
}

.card-child4 {
    grid-column: 3;
    grid-row: 2;
}

.card-main::before,
.card-child1::before,
.card-child2::before,
.card-child3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(180deg,
            hsla(0, 0%, 100%, 0) 0%,
            /* haut transparent */
            #0d3454 95%
            /* bleu foncé vers le bas */
        );
    z-index: 0;
}