body {
  color: var(--primary-text-color);
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;

}

header .logo {
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  gap: 200px;
}

header .navbar {
  display: flex;
  list-style: none;
  min-height: 50px;
  align-items: center;
  position: fixed;
  padding-right: 5%;
  z-index: 100;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  top: 0;
}

header #righnav {
  z-index: 100;
  padding-right: 80px;
  display: flex;
  list-style: none;
  min-height: 50px;
  align-items: center;
  padding-right: 5%;
  justify-content: space-between;
}

header .menu {
  display: flex;
  list-style: none;
  align-items: center;
}

header .navbar .navbara {
  flex-direction: column;
  color: #1e1e2f;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease;
}

header .navbar .navbara:hover {
  color: #ff4500;
}

.navbar {
  z-index: 10;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
  padding: 7px 10px;
  color: rgb(209, 0, 0);
  cursor: pointer;
}

.menu li:hover .dropdown {
  display: flex;
  color: #ff4500;
}

.menu li .dropdown {
  white-space: nowrap;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
}

.menu li .dropdown li {
  display: inline-block;
  color: #1e1e2f;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  gap: 5px;
}

.menu li .dropdown :first-child {
  margin-top: 15px;
}

.menu li .dropdown li:hover {
  color: #ffffff;
  background-color: #1e1e2f;
}

.Search-container {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  width: 100vw;
  z-index: 150;
}

#toggle-search:checked~.Search-container {
  transform: translateY(0);
}

.Header-booking {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.Header-booking,
.Header-radar {
  align-items: center;
  background-color: #f68700;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 10px 25px;
}

#toggle-search {
  display: none;
}

.search-btn {
  width: 80px;
  height: 50px;
  cursor: pointer;
  background-image: url(../images/main/gettyimages-127861912-640x640.avif);
  background-size: cover;
}

.close-btn {
  width: 350px;
  height: 200px;
  cursor: pointer;
  background-image: url(../images/main/maxresdefault.jpg);
  background-size: cover;
  text-align: end;
  justify-content: end;
  border-radius: 15px;
}

.Search-input {
  width: 80%;
  max-width: 500px;
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
  border: 2px solid #b0e0e6;
  text-align: center;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #f8faff;
}

.Search-input:focus {
  border-color: #ff4500;
  box-shadow: 0 0 8px rgba(255, 69, 0, 0.4);
  background-color: #ffffff;
}

.container {
  display: flex;
  width: 100%;
  height: 200px;
}

.container img {
  width: 10px;
}

header #myVideo {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 10px;
  clip-path: inset(3.5% 0 3.5% 0);
  position: relative;
  overflow: hidden;

  margin-top: -35px;
}

header .audio-button {
  z-index: 1;
  position: absolute;
  top: 90px;
  left: 95%;
}

header #audio-control {
  z-index: 10;
  background-color: #ff4500;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.surtitle {
  color: var(--secondary-text-color);
  font-family: var(--font-family-text);
}


/* === SECTION DEALS ===*/


.card-deals {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 15px;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.card-deals a {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  transition: transform 0.3s ease;
}

.card-deals a:hover {
  transform: scale(1.02);
}

.card-deals a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-deals a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(13, 52, 84, 0.85) 100%);
  z-index: 1;
}


.card-deals a h3 {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 2;
  text-transform: capitalize;
  margin: 0;
}

.card-main {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.card-child1 {
  grid-column: 2;
  grid-row: 1;
}

.card-child2 {
  grid-column: 2;
  grid-row: 2;
}

.card-child3 {
  grid-column: 3;
  grid-row: 1;
}

.card-child4 {
  grid-column: 3;
  grid-row: 2;
}


/* === TABLETTE (max 900px) ====== */

@media (max-width: 900px) {
  .card-deals {
    grid-template-columns: 1fr 1fr;
    /* 2 colonnes */
    grid-template-rows: auto;
  }

  .card-main {
    grid-column: 1 / span 2;
    /* occupe toute la largeur */
    grid-row: 1;
    height: 300px;
  }

  .card-child1 {
    grid-column: 1;
    grid-row: 2;
  }

  .card-child2 {
    grid-column: 2;
    grid-row: 2;
  }

  .card-child3 {
    grid-column: 1;
    grid-row: 3;
  }

  .card-child4 {
    grid-column: 2;
    grid-row: 3;
  }
}

/* =============================== */
/* === MOBILE (max 600px) ======== */
/* =============================== */

@media (max-width: 600px) {
  .card-deals {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;

  }

  .card-deals a {
    width: 100%;
    height: 100%;
  }

  .card-main,
  .card-child1,
  .card-child2,
  .card-child3,
  .card-child4 {
    grid-column: auto;
    grid-row: auto;
  }
}

footer {
  display: flex;
  justify-content: space-between;

}

footer div {
  display: flex;
  height: 600px;
  justify-content: space-between;
}
footer {
    color: white !important;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  padding-top: 10rem;
  font-family: Pluto, sans-serif;
    font-weight: 200;
    line-height: 2.3rem;
  display: flex;
  justify-content: space-between;
}
footer div {
    display: flex;
    height: 600px;
    justify-content: space-between;

}

.Footer-background {
    height: calc(100% + 15rem);
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
        top: -15rem;

}
.Footer-background--img {
    -o-object-position: top;
    object-position: top;
        height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.Footer-background::after {
    background-color: #0d3454;
    content: "";
    height: calc(100% - 25rem);
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 25rem;
    width: 100%;
}
footer .under {
display: grid;
justify-items: center;
     grid-template-columns: repeat(auto-fit, calc(33.33333% - 6.66667rem));
     justify-content: center;
     
    }
footer h5 {
    font-size: 23px;
    font-weight: bold;
}
footer .footerCol {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 30px;
}
footer h4 { 
    font-size: 35px;
    font-weight: bold;
}
footer .icones {
    width: 40px;
}
footer .Footer-listIcon {
    display: flex;
    gap: 30px;
}
footer button {
    background-color:#6ab2b1 ;
    color: #0d3454;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 15px;
}
footer button:hover {
    background-color: #ff4500;
    color: white;
    cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* Grande-odysée.html */

.odyssée-header {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-background-color);
}

.odyssée-header h1 {
  font-size: 2rem;
  padding: 2rem;
}


.link-header a {
  color: var(--primary-accent-color);
  text-decoration: none;
}

.image-header img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;
}


.first-section {
  text-align: center;
  padding: 2rem;
}

.first-section h2 {
  font-weight: bold;
  font-size: 3rem;
  padding: 2%;
}

.first-section h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 3%;

}

.first-section img {
  width: 60%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.first-section p {
  padding: 3%;
  margin: 0px 100px;

  line-height: 1.6;
}

.first-p {
  font-weight: bold;
}

.first-div {
  text-align: center;
  padding: 2rem;
}

.first-div img {
  width: 60%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.first-div h3 {
  padding: 3%;
  font-weight: bold;
}

/* Conteneur du bouton */
.button-évenement {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

/* Style du bouton lui-même */
.bouton {
  display: inline-block;
  background-color: var(--primary-accent-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

/* Garder le texte blanc même après clic ou visite */
.bouton:visited,
.bouton:active {
  color: white;
  text-decoration: none;
}

/* Effet survol */
.bouton:hover {
  background-color: #d46a00;
  /* ou var(--primary-accent-color-hover) */
}

/* a voir,a faire.html */
.Avoir-header {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-background-color);

  text-decoration: none;
}

.Avoir-header h1 {
  font-size: 2rem;
  padding: 2rem;
}



.link-a-voir a {
  color: var(--primary-accent-color);
  text-decoration: none;
}

.link-a-voir a:hover {
  background-color: #000000;
}

.section-avoir {
  display: ;
  flex-direction: row;
  text-align: center;
  padding: 2rem;
}

.section-avoir h2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 3%;
}

.section-avoir h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 3%;
}

.image-header-avoir img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;

}

.image-balneo-avoir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}

.image-balneo-avoir img {
  flex: 1;
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.image-balneo-avoir p {
  flex: 1.3;
  text-align: left;
  line-height: 1.6;
  color: var(--primary-text-color);
  font-size: 1rem;
}