:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f6f8;
  --primary-text-color: #0d3454;
  --secondary-text-color: #7bbfbf;
  --primary-accent-color: #f78906;
  --secondary-accent-color: #fdc446;
}
